@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Medium.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/static/images/home2.jpeg") center/cover no-repeat fixed;
    backdrop-filter: blur(8px);
}

.toast-container {
  position: fixed;
  top: 55px; /* Adjust the top position as needed */
  right: 0;
  width: auto;
  z-index: 10000; /* Ensure the toast is above other content */
}

.toast {
  animation: slideInRightToLeft 0.5s ease; /* Animation for sliding from right to left */
}

@keyframes slideInRightToLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}



.btn.btn-outline-primary {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #ffffff;
    border-color: #ffffff;
}


#content {
    display: none;
}

#preloader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity and color of the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#preloader img {
    width: 100px;
    /* Adjust the size of the preloader image */
    animation: spin 1s linear infinite;
    /* Y-axis spin animation */
}

body.loading #preloader {
    display: none;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.logo {
    max-width: 250px;
    /* Adjust the width as needed */
    max-height: 250px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Optional margin for spacing */
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    left: 10px;
    /* Adjust the left position as needed */
}

.logo_bottom {
    max-width: 450px;
    /* Adjust the width as needed */
    max-height: 450px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Optional margin for spacing */
    position: absolute;
    bottom: 10px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the left position as needed */
}

#courseDetailsContainer,
#BatchDetailsContainer,
#ProgramDetailsContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: 'Poppins';
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #ffffff, #f0f0f0);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    padding: 20px;
    max-width: 900px; /* Adjust the maximum width as needed */
    max-height: 550px; /* Adjust the maximum width and height as needed */
    transition: opacity 0.5s ease-in-out;
    overflow: auto; /* Enable overflow and scrolling */
    scrollbar-width: thin; /* Set the width of the scrollbar */
    scrollbar-color: grey #f0f0f0; /* Set the color of the scrollbar thumb and track */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: fixed; /* Fixed table layout */
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
    word-wrap: break-word; /* Allow long words to break and wrap */
}

th {
    background-color: #e9ecef; /* Lighter background color */
}

h2 {
    text-align: center;
}

#mentorDetailsContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    font-family:'Poppins';
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #ffffff, #f0f0f0);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    padding: 15px;
    max-width: 1300px;
    max-height: 500px;
    /* Adjust the maximum width and height as needed */
    transition: opacity 0.5s ease-in-out;
    overflow-y: auto;
    /* Enable vertical scrolling */
    scrollbar-width: thin;
    /* Set the width of the scrollbar */
    scrollbar-color: grey #f0f0f0;
    /* Set the color of the scrollbar thumb and track */
}

table {
    border-collapse: collapse;
    width: 110%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
}

th {
    background-color: #e9ecef;
    /* Lighter background color */
}

h2 {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Adjust the position of the close button */
.modal-header .close {
    position: absolute;
    top: 5px;
    right: 10px;
}


@media only screen and (max-width: 720px) {
    /* Styles for screens up to 720px */
    .toast-container {
        top: 35px; /* Adjust the top position for smaller screens */
    }

    .logo {
        max-width: 150px; /* Adjust the logo size for smaller screens */
        max-height: 150px;
    }

    .logo_bottom {
        max-width: 300px; /* Adjust the bottom logo size for smaller screens */
        max-height: 300px;
    }

    #courseDetailsContainer,
    #BatchDetailsContainer,
    #ProgramDetailsContainer,
    #mentorDetailsContainer {
        max-width: 90%; /* Adjust the maximum width for smaller screens */
        max-height: none; /* Remove maximum height for smaller screens */
    }

    table {
        width: 100%; /* Adjust the table width for smaller screens */
    }

    th,
    td {
        padding: 10px; /* Adjust cell padding for smaller screens */
    }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) {
    /* Styles for screens between 721px and 1024px */

    .logo {
        max-width: 200px; /* Adjust the logo size for medium screens */
        max-height: 200px;
    }

    .logo_bottom {
        max-width: 400px; /* Adjust the bottom logo size for medium screens */
        max-height: 400px;
    }

    #courseDetailsContainer,
    #BatchDetailsContainer,
    #ProgramDetailsContainer,
    #mentorDetailsContainer {
        max-width: 70%; /* Adjust the maximum width for medium screens */
    }

    table {
        width: 100%; /* Adjust the table width for medium screens */
    }

    th,
    td {
        padding: 12px; /* Adjust cell padding for medium screens */
    }
}

@media only screen and (max-width: 480px) {
    /* Styles for screens up to 480px */

    .toast-container {
        top: 20px; /* Adjust the top position for smaller screens */
    }

    .logo {
        max-width: 120px; /* Adjust the logo size for smaller screens */
        max-height: 120px;
    }

    .logo_bottom {
        max-width: 250px; /* Adjust the bottom logo size for smaller screens */
        max-height: 250px;
    }

    #courseDetailsContainer,
    #BatchDetailsContainer,
    #ProgramDetailsContainer,
    #mentorDetailsContainer {
        max-width: 80%; /* Adjust the maximum width for smaller screens */
    }

    table {
        width: 100%; /* Adjust the table width for smaller screens */
    }

    th,
    td {
        padding: 8px; /* Adjust cell padding for smaller screens */
    }
}
